Repository finsite/template_python, changes with the labels that .github/labeler.yml gives for each.
All labels: root, AnyChange, Documentation

Re-running pre-commit to check things
  .pre-commit-config.yaml
  bump_version.py
  requirements-dev.txt
  requirements.txt
  src/app/main.py
Labels: root, AnyChange

Fixing versions in changelog
  CHANGELOG.md
Labels: root, AnyChange, Documentation

fixing changelog workflow
  .github/workflows/Automated Version Bump and Changelog.yml
  CHANGELOG.md
  pyproject.toml
Labels: root, AnyChange, Documentation

Updating pre-commit for additional tools
  .github/workflows/Automated Version Bump and Changelog.yml
  .pre-commit-config.yaml
  bump_version.py
  requirements-dev.txt
  requirements.txt
  src/app/main.py
Labels: root, AnyChange

Updating pre-commit for additional tools
  requirements-dev.txt
Labels: root, AnyChange

Fixing Dependancies
  requirements-dev.txt
  requirements.txt
Labels: root, AnyChange

Removing setup.cfg and setup.py if they exist
  .pylintrc
  requirements-dev.txt
  requirements.txt
  setup.py
Labels: root, AnyChange

feat(template_python): Update changlog generation to commitzen
  .cz.yaml
  .github/workflows/Automated Version Bump and Changelog.yml
  .pre-commit-config.yaml
  TODO.md
  bump_version.py
  generate_k8.py
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
Labels: root, AnyChange, Documentation

feat(docs): Added automated releases
  .cz.yaml
  .github/workflows/Github Automated Releases.yml
  pyproject.toml
Labels: root, AnyChange

Added config.py to all stock-tech repositories for future adjustments
  .cz.yaml
  .github/workflows/Deploy Mkdocs Documentation.yml
  .github/workflows/Github Automated Releases.yml
  mkdocs.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Labels: root, AnyChange

chore(docs): Re-run pre-commit to verify all files
  .github/workflows/Deploy Mkdocs Documentation.yml
  CHANGELOG.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Labels: root, AnyChange, Documentation

fix(docs): Fix pre-commit and some other minor errors in workflows
  .github/workflows/Pytest Testing.yml
  .pre-commit-config.yaml
Labels: root, AnyChange

fix(docker): Fix workflow not getting version
  .github/workflows/Build and Push Docker Image.yml
Labels: AnyChange

chore(docs): Re-run pre-commit to verify all files
  .github/workflows/Build and Push Docker Image.yml
  .pre-commit-config.yaml
  generate_k8.py
  src/app/main.py
Labels: root, AnyChange

fix(template): Address issue with renovate keeps opening up the same ticket
  .pre-commit-config.yaml
  renovate.json
Labels: root, AnyChange

fix(lint): Fix pre-commit and disable pytest workflow
  .github/workflows/Pytest Testing.old
  .pre-commit-config.yaml
Labels: root, AnyChange

fix(test): Disable pytest performance benchmark
  .github/workflows/Performance Benchmarking.old
  generate_k8.py
  requirements-dev.txt
  requirements.txt
  src/app/main.py
Labels: root, AnyChange

fix(docs): Running docformatter to fix repos
  src/app/main.py
Labels: AnyChange

fix(documentation): Updating Readme
  .hooks/check-version-consistency.py
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  Dockerfile
  Makefile
  README.md
  TODO.md
  pyproject.toml
Labels: root, AnyChange, Documentation

fix(files): Removed template python files no longer used
  src/app/__init__.py
  src/app/main.py
Labels: AnyChange

fix(poller): update missing dependancies
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  requirements-dev.txt
  requirements.txt
Labels: root, AnyChange

fix(template): update template_python to correct licensing
  README.md
  TODO.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Labels: root, AnyChange, Documentation

fix(files): Cleanup redundant files and standardize
  .coveragerc
  .cz.yaml
  .dockerignore
  .github/workflows/Bandit Security Scan.yml
  .gitignore
  Makefile
  TODO.md
  pylintrc
  pyproject.toml
  src/app/__init__.py
Labels: root, AnyChange, Documentation

fix(deps): standardize termcolor to 2.5.0
  requirements-dev.in
Labels: root, AnyChange

fix(deps): standardize termcolor to 2.5.0
  requirements-dev.txt
Labels: root, AnyChange

fix(deps): recompile requirements-dev.txt and resolve conflicts
  requirements-dev.in
  requirements-dev.txt
Labels: root, AnyChange

chore(sync): batch commit of validated manual changes with workflows
  .github/workflows/Bandit Security Scan.yml
  compile.out
Labels: root, AnyChange

chore(sync): batch commit of docker compose and pre-commit changes
  .pre-commit-config.yaml
  Dockerfile
  generate_k8.py
  requirements-dev.txt
  requirements.txt
  src/app/__init__.py
Labels: root, AnyChange

fix(files): Add Initialize Repository Files post cloning generation
  scripts/generate_k8.py
  scripts/generate_k8_manifests.py
  scripts/init_repo.sh
Labels: AnyChange

fix(files): Verify functionality
  requirements-dev.txt
  requirements.txt
  src/app/utils/__init__.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
Labels: root, AnyChange

fix(files): Address workflows timing out issues
  .github/workflows/Automated Version Bump and Changelog.yml
  .github/workflows/Dependency Security Audit.yml
  scripts/generate_k8.py
  scripts/generate_k8_manifests.py
  src/app/utils/vault_client.py
Labels: AnyChange

fix(deps): recompile requirements to resolve dependency conflicts
  requirements-dev.txt
  requirements.txt
Labels: root, AnyChange

chore(scripts): improve sync and init scripts for version and path consistency
  .hooks/check-version-consistency.py
Labels: AnyChange

fix(files): verify pyproject.toml has all required fields
  CHANGELOG.md
  pyproject.toml
  src/app/__init__.py
Labels: root, AnyChange, Documentation

fix(types): resolve all Pyright issues and sync output handler signature
  src/app/utils/types.py
  src/app/utils/vault_client.py
Labels: AnyChange

chore(hooks): Verify Synchronization across repositories
  scripts/generate_k8.py
  scripts/generate_k8_manifests.py
  src/app/utils/rate_limit.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/types.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
Labels: AnyChange

chore(files): Validate shared configuration file is 100%
  src/app/config_shared.py
  src/app/output_handler.py
  src/app/queue_handler.py
  src/app/queue_sender.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/types.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
Labels: AnyChange

chore(formatting): run pre-commit hooks and fix formatting issues
  src/app/config_shared.py
  src/app/output_handler.py
  src/app/queue_handler.py
  src/app/queue_sender.py
  src/app/utils/request_with_timeout.py
  src/app/utils/setup_logger.py
  src/app/utils/track_request_metrics.py
  src/app/utils/types.py
  src/app/utils/vault_client.py
Labels: AnyChange

refactor: standardize config, vault client, and test structure across all repos
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/app/utils/rate_limit.py
Labels: root, AnyChange

refactor: standardize config, vault client, and test structure across all repos
  .gitattributes
  .github/dependabot.yml
  .github/workflows/Automated Version Bump and Changelog.yml
  .github/workflows/Bandit Security Scan.yml
  .github/workflows/CodeQL Analysis.yml
  .github/workflows/Dependency Security Audit.yml
  .github/workflows/SBOM and License Audit.yml
  .github/workflows/slsa-provenance.yml
  .gitignore
  .hooks/check-compiled-requirements.py
  .hooks/check-version-consistency.py
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  src/app/__init__.py
  src/app/main.py
  src/app/utils/rate_limit.py
  tests/__init__.py
  tests/test_config.py
  tests/test_output_handler.py
  tests/test_placeholder.old
  tests/test_queue_handler.py
  tests/test_vault_client.py
Labels: root, AnyChange

.github/labeler.yml:

---
# Add 'root' label to any root file changes
root:
  - changed-files:
      - any-glob-to-any-file: '*'
# Add 'AnyChange' label to any changes within the entire repository
AnyChange:
  - changed-files:
      - any-glob-to-any-file: '**'
# Add 'Documentation' label to any relevant changes
Documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**
      - any-glob-to-any-file: docs/*
      - any-glob-to-any-file: guides/*
      - any-glob-to-any-file: '**/*.md'
# Add 'source' label to any change to src files (excluding docs)
source:
  - changed-files:
      - any-glob-to-any-file: src/**/*
      - all-globs-to-all-files: '!src/docs/*'
# Add 'feature' label to PRs where the branch name starts with or contains 'feature'
feature:
  - head-branch: ^feature
  - head-branch: feature
# Add 'release' label to PRs opened against the main branch
release:
  - base-branch: main
# Add 'dependencies' label to Dependabot PRs
dependencies:
  - head-branch: ^dependabot
